*.log
*.net
*.raw
*.swp
*.tiff
*.html
*.hdf5
*.pyc
*.qrc
*.pdf
*.tar.gz
*.tgz
*.geo
*.mm
*.mtx
*.sublime-project
*.sublime-workspace
*.asc
*.xcf
*.pxm
*.xsd
*.pam
*.ppm
*.xbm
*.xpm
*.jpg
*.sqlite
*.wpu
Xyce.sta
.DS_Store
x
restats
attic
gist
